/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.no-sidetap {display: none;}


a {
    text-decoration: none;
}

#input-container {
    padding: 0px;
}

select {
    -webkit-appearance: none;
    border: 0px;
    background: transparent;
    color: #fff;
    width: 100%;
    height: 40px;
}

.imeselector {
    display: none !important; /* Kill the default selector! */
}

a.nav-header::after {
    background: none;
}

nav a.selected {
    background: #ffaf4b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}

nav a.selected select {
    color: #000;
}

#about .container {
    text-align: center;
    line-height: 150%;
}

#about .container p {
    margin-bottom: 12px;
}

#about small {
    font-size: 80%;
}
